node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

#ignore quiz assets in public/quiz
public/quiz*
public/*quiz*

automations-458814-543392c26adf.json
youtube_client_secrets.json

bg-music

youtube_token.pickle

*.zip
